.bg-palletdarkGrey{
    background-color: var(--palletdarkGrey)!important;
}
.bg-palletGrey{
    background-color: var(--palletGrey)!important;
}
.bg-palletlightGrey{
    background-color: var(--palletlightGrey)!important;
}
.bg-palletoffWhite{
    background-color: var(--palletoffWhite)!important;
}
.bg-palletWhite{
    background-color: var(--palletWhite)!important;
}
.bg-palletlightRed{
    background-color: var(--palletlightRed)!important;
}
.bg-palletRed{
    background-color: var(--palletRed)!important;
}
.bg-palletdarkRed{
    background-color: var(--palletdarkRed)!important;
}
.h-nav{
    height: 50px;
}